In [14]:
import pandas as pd
import os
import numpy as np

In [8]:
column_names = [f'acc_{i}' for i in range(1, 4)]
acc = pd.read_csv('RawData/acc_exp01_user01.txt', sep = " ", header= None, names= column_names)
acc

          acc_1     acc_2     acc_3
0      0.918056 -0.112500  0.509722
1      0.911111 -0.093056  0.537500
2      0.881944 -0.086111  0.513889
3      0.881944 -0.086111  0.513889
4      0.879167 -0.100000  0.505556
...         ...       ...       ...
20593 -0.069444  0.531944  0.806944
20594 -0.061111  0.519444  0.919444
20595 -0.051389  0.516667  0.956944
20596 -0.061111  0.525000  0.956944
20597 -0.048611  0.544444  0.947222

[20598 rows x 3 columns]

In [10]:
col_names = ['exp', 'user', 'label', 'start', 'end']
file_infos = pd.read_csv('RawData/labels.txt', sep=' ', header=None, names=col_names)
file_infos

      exp  user  label  start    end
0       1     1      5    250   1232
1       1     1      7   1233   1392
2       1     1      4   1393   2194
3       1     1      8   2195   2359
4       1     1      5   2360   3374
...   ...   ...    ...    ...    ...
1209   61    30      2  13842  14574
1210   61    30      3  14751  15427
1211   61    30      2  15588  16319
1212   61    30      3  16546  17250
1213   61    30      2  17394  18097

[1214 rows x 5 columns]

# Splitt into Train and Test Data

In [47]:
train_size = 0.7
users = file_infos['user'].unique()
np.random.shuffle(users)
train_users = users[:int(len(users)*0.7)]
test_users = users[int(len(users)*0.7):]
train_users, test_users

TypeError: object of type 'numpy.int64' has no len()

In [58]:
rawdata = 'RawData'
file_name = os.listdir(rawdata)[19]
file_name.split('_')[-1]

'user10.txt'

In [52]:
file_name.endswith(f'user{10}.txt') or file_name.endswith(f'user0{10}.txt')

True

In [59]:
os.listdir('RawData')

['acc_exp01_user01.txt',
 'acc_exp02_user01.txt',
 'acc_exp03_user02.txt',
 'acc_exp04_user02.txt',
 'acc_exp05_user03.txt',
 'acc_exp06_user03.txt',
 'acc_exp07_user04.txt',
 'acc_exp08_user04.txt',
 'acc_exp09_user05.txt',
 'acc_exp10_user05.txt',
 'acc_exp11_user06.txt',
 'acc_exp12_user06.txt',
 'acc_exp13_user07.txt',
 'acc_exp14_user07.txt',
 'acc_exp15_user08.txt',
 'acc_exp16_user08.txt',
 'acc_exp17_user09.txt',
 'acc_exp18_user09.txt',
 'acc_exp19_user10.txt',
 'acc_exp20_user10.txt',
 'acc_exp21_user10.txt',
 'acc_exp22_user11.txt',
 'acc_exp23_user11.txt',
 'acc_exp24_user12.txt',
 'acc_exp25_user12.txt',
 'acc_exp26_user13.txt',
 'acc_exp27_user13.txt',
 'acc_exp28_user14.txt',
 'acc_exp29_user14.txt',
 'acc_exp30_user15.txt',
 'acc_exp31_user15.txt',
 'acc_exp32_user16.txt',
 'acc_exp33_user16.txt',
 'acc_exp34_user17.txt',
 'acc_exp35_user17.txt',
 'acc_exp36_user18.txt',
 'acc_exp37_user18.txt',
 'acc_exp38_user19.txt',
 'acc_exp39_user19.txt',
 'acc_exp40_user20.txt',
 'acc_exp41_user20.txt',
 'acc_exp42_user21.txt',
 'acc_exp43_user21.txt',
 'acc_exp44_user22.txt',
 'acc_exp45_user22.txt',
 'acc_exp46_user23.txt',
 'acc_exp47_user23.txt',
 'acc_exp48_user24.txt',
 'acc_exp49_user24.txt',
 'acc_exp50_user25.txt',
 'acc_exp51_user25.txt',
 'acc_exp52_user26.txt',
 'acc_exp53_user26.txt',
 'acc_exp54_user27.txt',
 'acc_exp55_user27.txt',
 'acc_exp56_user28.txt',
 'acc_exp57_user28.txt',
 'acc_exp58_user29.txt',
 'acc_exp59_user29.txt',
 'acc_exp60_user30.txt',
 'acc_exp61_user30.txt',
 'gyro_exp01_user01.txt',
 'gyro_exp02_user01.txt',
 'gyro_exp03_user02.txt',
 'gyro_exp04_user02.txt',
 'gyro_exp05_user03.txt',
 'gyro_exp06_user03.txt',
 'gyro_exp07_user04.txt',
 'gyro_exp08_user04.txt',
 'gyro_exp09_user05.txt',
 'gyro_exp10_user05.txt',
 'gyro_exp11_user06.txt',
 'gyro_exp12_user06.txt',
 'gyro_exp13_user07.txt',
 'gyro_exp14_user07.txt',
 'gyro_exp15_user08.txt',
 'gyro_exp16_user08.txt',
 'gyro_exp17_user09.txt',
 'gyro_exp18_user09.txt',
 'gyro_exp19_user10.txt',
 'gyro_exp20_user10.txt',
 'gyro_exp21_user10.txt',
 'gyro_exp22_user11.txt',
 'gyro_exp23_user11.txt',
 'gyro_exp24_user12.txt',
 'gyro_exp25_user12.txt',
 'gyro_exp26_user13.txt',
 'gyro_exp27_user13.txt',
 'gyro_exp28_user14.txt',
 'gyro_exp29_user14.txt',
 'gyro_exp30_user15.txt',
 'gyro_exp31_user15.txt',
 'gyro_exp32_user16.txt',
 'gyro_exp33_user16.txt',
 'gyro_exp34_user17.txt',
 'gyro_exp35_user17.txt',
 'gyro_exp36_user18.txt',
 'gyro_exp37_user18.txt',
 'gyro_exp38_user19.txt',
 'gyro_exp39_user19.txt',
 'gyro_exp40_user20.txt',
 'gyro_exp41_user20.txt',
 'gyro_exp42_user21.txt',
 'gyro_exp43_user21.txt',
 'gyro_exp44_user22.txt',
 'gyro_exp45_user22.txt',
 'gyro_exp46_user23.txt',
 'gyro_exp47_user23.txt',
 'gyro_exp48_user24.txt',
 'gyro_exp49_user24.txt',
 'gyro_exp50_user25.txt',
 'gyro_exp51_user25.txt',
 'gyro_exp52_user26.txt',
 'gyro_exp53_user26.txt',
 'gyro_exp54_user27.txt',
 'gyro_exp55_user27.txt',
 'gyro_exp56_user28.txt',
 'gyro_exp57_user28.txt',
 'gyro_exp58_user29.txt',
 'gyro_exp59_user29.txt',
 'gyro_exp60_user30.txt',
 'gyro_exp61_user30.txt',
 'labels.txt']

Sample Data user 1

In [69]:
file_infos

      exp  user  label  start    end
0       1     1      5    250   1232
1       1     1      7   1233   1392
2       1     1      4   1393   2194
3       1     1      8   2195   2359
4       1     1      5   2360   3374
...   ...   ...    ...    ...    ...
1209   61    30      2  13842  14574
1210   61    30      3  14751  15427
1211   61    30      2  15588  16319
1212   61    30      3  16546  17250
1213   61    30      2  17394  18097

[1214 rows x 5 columns]

In [80]:

file_name = os.listdir('train')[0]
user = pd.read_csv(os.path.join('train', file_name), header=None, sep= ' ')
user

              0         1         2
0      0.918056 -0.112500  0.509722
1      0.911111 -0.093056  0.537500
2      0.881944 -0.086111  0.513889
3      0.881944 -0.086111  0.513889
4      0.879167 -0.100000  0.505556
...         ...       ...       ...
20593 -0.069444  0.531944  0.806944
20594 -0.061111  0.519444  0.919444
20595 -0.051389  0.516667  0.956944
20596 -0.061111  0.525000  0.956944
20597 -0.048611  0.544444  0.947222

[20598 rows x 3 columns]

In [76]:
exp1_user1 = file_infos[(file_infos['user'] == 1 ) & (file_infos['exp'] == 1)]
exp1_user1.head()

   exp  user  label  start   end
0    1     1      5    250  1232
1    1     1      7   1233  1392
2    1     1      4   1393  2194
3    1     1      8   2195  2359
4    1     1      5   2360  3374

In [90]:
sequences = []
labels = []
for start, end, label in zip(exp1_user1['start'], exp1_user1['end'], exp1_user1['label']):
    seq = user.iloc[start-1 : end - 1]
    sequences.append(seq)
    labels.append(label)

In [93]:
len(labels)

22

extracting info from files

In [121]:
file_name = os.listdir('train')[0]
exp_id = int(file_name.split('_')[1][3:])
user_id = int(file_name.split('_')[-1][4:6])
user_id

1

In [139]:
sequences_acc = []
labels_acc = []
for file in os.listdir('train'):
    if file.startswith('acc'):
        exp_id = int(file.split('_')[1][3:])
        user_id = int(file.split('_')[-1][4:6])
        data = pd.read_csv(os.path.join('train', file), header=None, sep= ' ')

        exp_user = file_infos[(file_infos['user'] == user_id ) & (file_infos['exp'] == exp_id)]

        for start, end, label in zip(exp_user['start'], exp_user['end'], exp_user['label']):
            seq = user.iloc[start-1 : end - 1]
            sequences_acc.append(seq.values)
            labels_acc.append(label)



sequences_gyro = []
labels_gyro = []
for file in os.listdir('train'):
    if file.startswith('gyro'):
        exp_id = int(file.split('_')[1][3:])
        user_id = int(file.split('_')[-1][4:6])
        data = pd.read_csv(os.path.join('train', file), header=None, sep= ' ')

        exp_user = file_infos[(file_infos['user'] == user_id ) & (file_infos['exp'] == exp_id)]

        for start, end, label in zip(exp_user['start'], exp_user['end'], exp_user['label']):
            seq = user.iloc[start-1 : end - 1]
            sequences_gyro.append(seq.values)
            labels_gyro.append(label)

In [161]:
sequences_acc[0].shape, sequences_gyro[0].shape

((982, 3), (982, 3))

In [150]:
x_train = []
for acc, gyro in zip(sequences_acc, sequences_gyro):
    # print(acc.shape)
    # print(gyro.shape)
    x_train.append(np.concatenate((acc, gyro), axis=1))

In [169]:
y_train = np.array(labels_acc)

In [162]:
x_train[0].shape

(982, 6)

In [168]:
len(x_train)

853

In [167]:
len(labels_acc)

853